<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/css/Course.css" />
    <title>Course</title>
  </head>
  <body>
    <h1>A.I.E.T e-Learning Platform</h1>
    <nav class="navbar">
      <li><a href="https://yellow-waiter-yjsnv.pwskills.app:5000"> Home</a></li>
      <li><a href="https://www.aiet.ac.in/syllabus"> Courses</a></li>
      <!-- <li><a href="Contact.html"> Contact</a></li> -->
      <li><a href="https://www.aiet.ac.in/contact-us"> Contact-us</a></li>
      <li><a href="https://prutor.ai/welcome-2/"> Prutor.Ai</a></li>
    </nav>
    <br />
    <div>
    <section id="course">
      <div class="featured-course-container">
        <div class="featured-course-video">
          <iframe
            height="300"
            src="https://www.youtube.com/embed/ntLJmHOJ0ME"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen
          ></iframe>
        </div>
        <div class="featured-course-content">
          <h2>Welcome to the future Technology !!</h2>
          <h4>Getting Started with JAVA PROGRAMMING For Beginner</h4>
          <div class="featured-course-description">
            This course includes hands-on practice and will give you a solid
            knowledge of the Java language. After completing this course, you
            will be able to identify Java's benefits, program in basic Java
            syntax using Java data types, and incorporate branches and loops.
            <br />
            1.FUNDAMENTAL <br />
            2.OOPs CONCEPT<br />
            3.FUNCTIONAL PROGRAMMING <br />
            4.GAME PROJECT <br />
          </div>
          <button class="btn btn-blue"> <a href="https://www.youtube.com/embed/ntLJmHOJ0ME"> CLICK HERE</a> Get full Course for free</button>
          
        </div>
      </div>
    </section>
</div>

<div >
    <section id="course">
      <div class="featured-course-container">
        <div class="featured-course-video">
          <iframe
            height="300"
            src="https://www.youtube.com/embed/gfDE2a7MKjA"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen
          ></iframe>
        </div>
        <div class="featured-course-content">
          <h2>Welcome to the future Technology !!</h2>
          <h4>Getting Started with PYTHON PROGRAMMING For Beginner</h4>
          <div class="featured-course-description">
            Python is a high-level, interpreted, interactive and object-oriented
            scripting language. Python is designed to be highly readable. It
            uses English keywords frequently where as other languages use
            punctuation, and it has fewer syntactical constructions than other
            languages.
          </div>
          <button class="btn btn-blue"> <a href="https://www.youtube.com/embed/gfDE2a7MKjA">CLICK HERE</a> Get full Course for free</button>
        </div>
      </div>
    </section>
</div>

<div>
    <section id="course">
      <div class="featured-course-container">
        <div class="featured-course-video">
          <iframe
            height="300"
            src="https://www.youtube.com/embed/6mbwJ2xhgzM"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen
          ></iframe>
        </div>
        <div class="featured-course-content">
          <h2>Welcome to the future Technology !!</h2>
          <h4>Getting Started with HTML, CSS, And JAVASCRIPT For Beginner</h4>
          <div class="featured-course-description">
            What is the description of HTML CSS and JavaScript? HTML defines the
            structure of your content, CSS determines the style and layout, and
            JavaScript makes the content interactive; therefore, it makes the
            most sense to learn them in that order.
          </div>
          <button class="btn btn-blue"> <a href="https://www.youtube.com/embed/6mbwJ2xhgzM">CLICK HERE</a>  Get full Course for free</button>
        </div>
      </div>
    </section>
</div>
  </body>
</html>
