<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-Learning </title>
    <link rel="stylesheet" href="/static/css/E_learning.css">
</head>
<body class="content">
  <h1 > AIET E-Learning </h1>
  <img src="/static/image/college-image.png" alt="Reload">
  <br>
  <br>
  <h2>Login Here</h2>
    <form >
      <div class="form-group">
        <label for="exampleInputPassword1">Name     : </label>
        <input type="Text" class="form-control"  placeholder="Name"><br>
      </div>
      <br>
      <div class="form-group">
        <label for="exampleInputPassword1">Roll No   : </label>
        <input type="number" class="form-control"  placeholder="Roll No"><br>
      </div>
      <br>
        <div class="form-group">
          <label for="exampleInputEmail1">Email-Id : </label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email"><br>
          <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small><br>
        </div>
        <br>
        <div class="form-group">
          <label for="exampleInputPassword1">Password : </label>
          <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password"><br>
        </div>
        
        <div class="form-group form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1">
          <label class="form-check-label" for="exampleCheck1">Check me out</label>
        </div>
        <br>
        <a href="https://yellow-waiter-yjsnv.pwskills.app:5000/Course" onclick="Course()">
          Click here to submit form
        </a>
      </form>
</body>
</html>